/*
!/DATA
/DATA/*
!/DATA/.gitignore
!/EXPORTS
/EXPORTS/*
!/EXPORTS/.gitignore
!/.gitignore
!/README.md
!/LICENSE
!/alllog2checkalllog.sh
!/filemaker2exports.sh
!/filemaker2refworks.py
!/filemakerparsexml.py
!/flattenpersons.py
!/listoverlap.py
!/log2check.sh
!/mergewithpers.py
!/F*.xml
